
body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
  font-size: 30px;
  margin-top: 50px
}
h1{
  font-size: 50px
}

.character-color{
  color: #fff;  
 }
 form{
  margin-top: 30px; 
  margin-bottom: 30px;
}
.form-group {
  display: flex;
  justify-content: center;
  }
.link{
  font-size: 15px
}
.col-md-2{
  margin-top: 10px;
}

.col-md-3{
  margin-bottom: 10px;
  margin-top: 10px;
}
.inputs{
  margin-bottom: 15px;
  
}
label.col-md-2{
  margin-bottom: 10px;
  margin-top: 10px;
 
}
col-mb-4{
  margin-top: 10px;
}


.submit{
  margin-top: 20px
}


.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
} 
 
 
  
  

 
